.box {
    background-color: $white;
    box-shadow: $box-shadow;
    border-radius: 16px;
    min-width: 0;
    position: relative;
    @include mobile {
        width: auto;
        max-width: 500px;
        margin: 20px auto 0!important;
        padding: 27px;
    }
    @include desktop-sm {
        padding: 27px 20px;
    }
    @include desktop-md {
        padding: 27px;
    }
    &--28 {
        width: calc(28% - 15px);
        @include mobile {
            width: 100%;
        }
    }
    &--44 {
        width: calc(44% - 15px);
        @include mobile {
            width: 100%;
        }
    }
    &--progress-towards-the-goal {
        grid-area: progressTowards;
    }
    &--portion-of-motivation {
        grid-area: motivation;
    }
    &--my-activity {
        grid-area: myActivity;
    }
    &--health-and-sports {
        grid-area: healthAndSports;
    }
    &--today-tasks {
        grid-area: todayTasks;
    }
}
