@import '../../assets-path';

.login-box {
  background: url(#{$assetsPath}/people-run-to-their-goal.webp) center/cover no-repeat;
  box-shadow: 0 0 10px #ddd;
  border-radius: 30px;
  width: 90%;
  max-width: 500px;
  max-height: 700px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  padding: 50px;
  overflow-y: scroll;
  &:after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    position: absolute;
    background: rgba(255, 255, 255, .45);
    z-index: -1;
  }
  &::-webkit-scrollbar {
      background-color: #F5F5F5;
      border-radius: 0 0 5px 0;
  }

  &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #9E9E9E;
  }

  &::-webkit-scrollbar {
      width: 0;
  }
  scrollbar-width: none;
  &__img {
    display: block;
    width: 200px;
    margin: 0 auto;
    position: absolute;
    left: -100px;
    top: -100px;
  }
}
