<section class="modal">
  <header class="modal__header">
    <div class="txt-center">
      <p class="modal__heading txt-center">Welcome {{ this.welcomeName }}!</p>
    </div>
    <div class="modal__action">
        <button class="btn modal-close" (click)="closeModal()">
            <i class="icon icon--close"></i>
        </button>
    </div>
  </header>
  <main #modal_main id="modal__main" class="modal__main">
    <div class="info-popup__img-box">
      <img class="info-popup__img" src="{{ imagesURL }}/sport.svg" alt="">
    </div>

    <p>
      This text is intended to help you understand how this app works.
    <br>
    In a nutshell, the application works according to the following scheme:
    </p>
    <p>
    <strong>1.</strong> We start by creating a goal, e.g. 'I will run a marathon'. We do this by clicking on the sidemenu tab
    'My goals' -> by clicking on 'new goal', a modal window will open, in which we create a new goal, where
    are various options to choose from, such as the field of life (career, knowledge, health), deadline, etc.
    <br><br>
    <strong>2.</strong> After creating the goal (point 1) click on the 'Calendar' tab -> here by clicking 'new task'
    for the created goal (point 1) we create individual tasks (tasks) to be performed.
    </p>
    <p>
      Other tools (charts) are used to measure progress and proportions between goals from different ones
    areas of life so as to help create a balance between individual spheres of life.
    In the 'settings' tab you can edit/change your profile details.
    </p>
    <p>
      In principle, the operation is similar to a work schedule, except that goals are not set within the work,
    only goals are about your life.
    </p>
    <p>Enjoy the application.</p>
  </main>
  <footer class="modal__footer d-flex">

  </footer>
</section>
