.header-dropdown {
  background-color: $white;
  box-shadow: 0 0 10px #888;
  padding: 20px;
  opacity: 0;
  position: absolute;
  border-radius: 6px;
  overflow: hidden;
  top: 100px;
  right: 0;
  transition: all .2s ease;
  z-index: 1;
  width: 150px;
  visibility: hidden;
  &-list {
    margin: 0;
  }
  &__link {
    align-items: center;
    color: $secondText;
    cursor: pointer;
    display: grid;
    grid-template-columns: 24px 1fr;
    padding: 10px 0;
    span {
      display: inline-block;
      margin-left: 10px;
    }
    &:hover {
      .icon {
        background-color: $accent;
      }
    }
  }
}
