.js-btn-back {
  display: none;
  &.active {
      display: inline-flex;
  }
}

.js-btn-next {
  display: none;
  &.active {
      display: inline-flex;
  }
}

.js-btn-create {
  display: none;
  &.active {
      display: inline-flex;
  }
}


.modal.fade{
  opacity:1;
}
// .modal__wrap.show .modal {
//    -webkit-transform: translate(0);
//    -moz-transform: translate(0);
//    transform: translate(0);
//    transition-duration: 0.1s;
// }

// .animated.bounceIn {
//   animation-duration: 0.55s!important;
// }
