@import '../../assets-path';

.user {
    background: url(#{$assetsPath}/avatar.png) center no-repeat;
    background-size: 32px 32px;
    border: 0;
    box-shadow: $box-shadow;
    clip-path: circle(50%);
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0px;
    position: relative;
    height: 40px;
    width: 40px;
    z-index: 0;
    &--lg {
        background-size: 64px 64px;
        width: 80px;
        height: 80px;
    }
    &--desktop {
      position: relative;
        @include mobile {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
            white-space: nowrap;
        }
      &:hover .header-dropdown {
        opacity: 1;
        visibility: visible;
        top: 60px;
      }
    }
    &--mobile {
        @include mobile {
            display: block;
        }
        @include desktop-sm {
            display: none;
        }
        width: 50px;
        height: 50px;
        background-size: 40px 40px;
        @media (max-width: 500px) {
            width: 40px;
            height: 40px;
            background-size: 30px 30px;
        }
    }
}
