<div class="header__left">
  <button class="user user--mobile"></button>
  <h2 class="title title--main">
    Good morning, {{ this.welcomeName }} <br>
    <span class="smaller">
        Welcome back, nice to see you again!
    </span>
  </h2>
</div>
<div class="header__right">
  <div class="d-flex flex--center">
      <gt-search-input></gt-search-input>
  </div>
  <div class="d-flex flex--center justify-content-end">
      <div class="theme-toggler" >
          <label id="switch" class="theme-toggler__toggle" >
              <input type="checkbox" (change)="toggleTheme()" id="slider" #checkbox>
              <span class="theme-toggler__slider round"></span>
          </label>
      </div>
  </div>
  <div class="d-flex flex--center">
      <button class="icon icon--info" (click)="handleInfoPopup()"></button>
  </div>
  <div class="d-flex flex--center user--desktop">
      <button class="user"></button>
      <div class="header-dropdown">
        <ul class="header-dropdown-list list">
          <li class="header-dropdown__item">
            <a class="header-dropdown__link" routerLink="/settings">
              <i class="icon icon--settings"></i>
              <span>Settings</span>
            </a>
          </li>
          <li class="header-dropdown__item">
            <a class="header-dropdown__link" routerLink="/sign-in" (click)="logout()">
              <i class="icon icon--logout"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>
