.task-item {
  background-color: $white;
  padding: 15px 27px;
  @media (max-width: 450px) {
    padding: 15px 15px 15px 6px;
  }
  &.invisible {
    display: none;
  }
  &-sm {
    padding: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    &--self-knowledge {
      background-color: #ff8263;
    }
    &--career {
      background-color: #42dea2;
    }
  }
  &--goal {
    display: grid;
    grid-template-columns: 35px 1fr;
    padding: 15px 0;
  }
  &--styling {
    box-shadow: 0 0 10px rgba(4, 15, 21, 0.06);
    border-radius: 8px;
  }
  &-family-and-communication {
    border-right: 8px solid $blueStrong;
  }
  &--money {
    border-right: 8px solid $violetStong;
  }
  &--career {
    border-right: 8px solid $greenStrong;
  }
  &--health-and-sports {
    border-right: 8px solid $yellowStrong;
  }
  &--self-knowledge {
    border-right: 8px solid $redStrong;
  }
  &--travel {
    border-right: 8px solid $pinkStrong;
  }
  &__additional-info {
    display: grid;
    grid-template-columns: 35px 1fr;
    position: relative;
    p {
      display: inline-block;
      font-size: 11px;
      letter-spacing: 0.5px;
      line-height: 11px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .btn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &__main {
    display: grid;
    grid-template-columns: 35px 1fr;
    @include mobile {
      margin-top: 5px;
    }
    @include desktop-sm {
      margin-top: 5px;
    }
    @include desktop-md {
      margin-top: 0;
    }
  }
  &--form {
      align-items: center;
      width: 100%;
      max-width: 240px;
      margin: 10px auto 0;
  }
  &--zeromargin {
      margin: 0;
  }
  &__content {
    &--week {
      color: rgb(110, 122, 144);
      font-size: 12px;
      line-height: 18px;
      margin: 0px;
      text-align: center;
    }
  }
  &__name {
      margin: 0;
  }
  &__descr {
      color: #6e7a90;
      font-size: 12px;
      line-height: 18px;
      margin: 0;
  }
}


.tasks-list {
  position: absolute;
  left: 0;
  bottom: 0;
  gap: 2px;
  padding-left: 2px;
  width: 100%;
}
