<div class="actions-nav__buttons-left">
  <ul class="calendar-type-list list">
    <li class="calendar-type active" data-calendar-type="day">
        <button class="btn btn--calendar">
            Day
        </button>
    </li>
    <li class="calendar-type" data-calendar-type="week">
        <button class="btn btn--calendar">
            Week
        </button>
    </li>
    <li class="calendar-type" data-calendar-type="month">
        <button class="btn btn--calendar">
            Month
        </button>
    </li>
    <li class="calendar-type-indicator"></li>
  </ul>
</div>
<div class="empty">
</div>
<div class="switcher__wrap">
  <ul class="switcher list">
      <li class="switcher__item">
          2020
      </li>
      <li class="switcher__item active">
          2021
      </li>
      <li class="switcher__item">
          2022
      </li>
  </ul>
  <nav class="switcher__nav">
      <button class="switcher-prev">
      </button>
      <button class="switcher-next">
      </button>
  </nav>
</div>
<div class="actions-nav__buttons-right">
  <button class="btn btn--blue btn--scale modal-trigger">
      <i class="icon icon--plus icon--mr-3"></i>
      New Task
  </button>
</div>
