<div class="actions-nav__buttons-left">
  <ul class="calendar-type-list list" calendarTypeListHandler>
    <li class="calendar-type">
        <button class="btn btn--calendar"
        [ngClass]="this.currentCalendarType === 'day' ? 'active' : ''"
        data-calendar-type="day"
        (click)="switchCalendarType($event)" calendarTypeItemHandler>
            Day
        </button>
    </li>
    <li class="calendar-type">
        <button class="btn btn--calendar"
        [ngClass]="this.currentCalendarType === 'week' ? 'active' : ''"
        data-calendar-type="week"
        (click)="switchCalendarType($event)" calendarTypeItemHandler>
            Week
        </button>
    </li>
    <li class="calendar-type">
        <button class="btn btn--calendar"
        [ngClass]="this.currentCalendarType === 'month' ? 'active' : ''"
        data-calendar-type="month"
        (click)="switchCalendarType($event)" calendarTypeItemHandler>
            Month
        </button>
    </li>
    <li class="calendar-type-indicator" #calendarTypeIndicator></li>
  </ul>
</div>
<div class="empty">
</div>
<div class="switcher__wrap">
  <ul class="switcher list">
      <li class="switcher__item">
          2020
      </li>
      <li class="switcher__item active">
          2021
      </li>
      <li class="switcher__item">
          2022
      </li>
  </ul>
  <nav class="switcher__nav">
      <button class="switcher-prev" (click)="triggerPrevBtn()">
      </button>
      <button class="switcher-next">
      </button>
  </nav>
</div>
<div class="actions-nav__buttons-right">
  <button class="btn btn--blue btn--scale modal-trigger">
      <i class="icon icon--plus icon--mr-3"></i>
      New Task
  </button>
</div>
