<section class="modal new-task">
  <header class="modal__header">
      <p class="modal__heading">Add new Task</p>
      <div class="modal__action">
          <button class="btn modal-close">
              <i class="icon icon--close"></i>
          </button>
      </div>
  </header>
  <main class="modal__main">
      <div>
          <p class="modal__heading modal__heading--center">
              Action plan
          </p>
          <p class="txt-center">
              Make a to-do list. This will clarify the path to the goal and<br>
              make it more interesting to achieve it by deleting cases.
          </p>
          <div class="modal__section">
              <h3 class="modal__section-name headline">
                  Task 1
              </h3>
              <input type="text" name="" placeholder="Formulate a task" />
          </div>
          <div class="modal__section">
              <h3 class="modal__section-name headline">
                  Task description
              </h3>
              <textarea
                  placeholder="Describe the task you are trying to complete."></textarea>
          </div>
          <div class="modal__section d-flex">
              <div class="modal__half">
                  <h3 class="modal__section-name headline">
                      A priority
                  </h3>
                  <ul class="priority list">
                      <li class="priority__item">
                          <button class="label label-priority label-priority--high label--105width">
                              High priority
                          </button>
                      </li>
                      <li class="priority__item">
                          <button class="label label-priority label-priority--medium label--105width">
                              Medium priority
                          </button>
                      </li>
                      <li class="priority__item">
                          <button class="label label-priority label-priority--nopriority label--105width">
                              No priority
                          </button>
                      </li>
                  </ul>
              </div>
              <div class="modal__half">
                  <h3 class="modal__section-name headline">
                      Deadline Date
                  </h3>
                  <input type="date" name="test">
              </div>
          </div>
      </div>
  </main>
  <footer class="modal__footer d-flex justify-content-center">
      <button class="btn btn__next btn--blue">
          Add
      </button>
  </footer>
</section>
