@import '../assets-path';

.icon {
    background-color: #aeafcb;
    mask-position: center;
    mask-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    mask-size: 100% 100%;
    transition: all .15s ease-in-out;
    &:hover {
      @include desktop-sm {
          background-color: $accent;
          &.icon--plus {
              background-color: $white;
          }
      }
    }
    &--blue {
        background-color: $accent!important;
    }
    &--sm {
        width: 18px;
        height: 18px;
    }
    &--medium-sm {
        width: 14px;
        height: 14px;
    }
    &--xsm {
        width: 10px;
        height: 10px;
    }
    &--more {
        cursor: pointer;
        mask-image: url(#{$assetsPath}/icons/more.svg);
    }
    &--more-vertical {
        cursor: pointer;
        mask-image: url(#{$assetsPath}/icons/more-vertical.svg);
    }
    &--clock {
        mask-image: url(#{$assetsPath}/icons/clock.svg);
    }
    &--bell {
        border: none;
        mask-image: url(#{$assetsPath}/icons/bell.svg);
    }
    &--grid {
        mask-image: url(#{$assetsPath}/icons/grid.svg);
    }
    &--grid2 {
        mask-image: url(#{$assetsPath}/icons/grid2.svg);
    }
    &--target {
        mask-image: url(#{$assetsPath}/icons/target.svg);
    }
    &--calendar {
        mask-image: url(#{$assetsPath}/icons/calendar.svg);
    }
    &--list {
        mask-image: url(#{$assetsPath}/icons/list.svg);
    }
    &--list2 {
        mask-image: url(#{$assetsPath}/icons/list-2.svg);
    }
    &--settings {
        mask-image: url(#{$assetsPath}/icons/settings.svg);
    }
    &--hamburger {
        mask-image: url(#{$assetsPath}/icons/grid.svg);
    }
    &--plus {
        background-color: $white;
        mask-image: url(#{$assetsPath}/icons/plus.svg);
        width: 17px!important;
        height: 17px!important;
    }
    &--filter {
        mask-image: url(#{$assetsPath}/icons/filter.svg);
    }
    &--edit {
        mask-image: url(#{$assetsPath}/icons/edit.svg);
    }
    &--chart {
        mask-image: url(#{$assetsPath}/icons/chart.svg);
    }
    &--attachment {
        mask-image: url(#{$assetsPath}/icons/attachment.svg);
    }
    &--logout {
      mask-image: url(#{$assetsPath}/icons/logout.svg);
    }
    &--close {
        background-color: transparent;
        &:hover {
            background-color: transparent!important;
            opacity: 1;
        }
        &:before,
        &:after {
            position: absolute;
            left: 7px;
            content: ' ';
            height: 18px;
            width: 2px;
            background-color: #333;
            @include mobile {
                height: 12px;
            }
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &--tasks {
        mask-image: url(#{$assetsPath}/icons/tasks.svg);
    }
    &--info {
        align-items: center;
        display: flex;
        mask-image: url(#{$assetsPath}/icons/info-icon.svg);
        width: 20px;
        height: 20px;
    }
    &--mr-3 {
        margin-right: 3px;
    }
    &--grey {
      background-color: #aeafcb;
    }
}
