@use 'sass:math';
// Default variables
$font_size: 14px !default;
$font_size_small: 12px !default;

$input_border_radius: 5px !default;
$input_height: 38px !default;
$input_height_small: 36px !default;
$dropdown_padding: 18px !default;

$gray_dark: #444 !default;
$gray: #999 !default;
$gray_light: #e8e8e8 !default;
$gray_lighter: #f6f6f6 !default;
$primary_light: $gray !default;
$arrow_color: $gray !default;

// Style the dropdown
.select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: $input_border_radius;
  box-shadow: 0 1px 15px rgb(238 238 238 / 60%);
  border: solid 1px $gray_light;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: $font_size;
  font-weight: normal;
  height: $input_height;
  line-height: $input_height;
  margin: 0 0 10px;
  outline: none;
  padding-left: $dropdown_padding;
  padding-right: $dropdown_padding + 12;
  position: relative;
  text-align: left !important;
  user-select: none;
  white-space: nowrap;
  width: auto;
  &--modal {
    background-color: #fafbfc;
    height: 65px;
    display: flex;
    align-items: center;
    width: 100%!important;
  }
  &--nav1,
  &--nav2 {
    @include mobile {
      margin-left: 0!important;
    }
  }
  &:hover {
    border-color: darken($gray_light, 5%);
  }
  &:active, &:focus {
    border-color: $primary_light;
  }
  // Arrow
  &:after {
    border-bottom: 2px solid $arrow_color;
    border-right: 2px solid $arrow_color;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 18px;
    top: calc(50% - 2px);
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 5px;
    @include desktop-md {
      height: 5px;
      right: 18px;
      width: 5px;
      top: calc(50% - 2px);
    }
  }
  &--dashboard {
    background-color: #f3f8fb;
    border: none;
    &:after {
      border-bottom: 2px solid #19a0f2;
      border-right: 2px solid #19a0f2;
    }
    .current {
      color: #19a0f2;
    }
    .select-dropdown {
      background-color: #f2f7fa;
      border: none;
    }
  }
  &.w-260 {
      @media (min-width: 0px) {
        min-width: 205px!important;
      }
      @include desktop-md {
        min-width: 260px!important;
      }
  }
  &.open {
    @extend :active;
    &:after {
      transform: rotate(-135deg);
    }
    .select-dropdown {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
      width: 100%;
    }
  }
  &.disabled {
    border-color: lighten($gray_light, 2%);
    color: $gray;
    pointer-events: none;
    &:after {
      border-color: lighten($arrow_color, 20%);
    }
  }

  // Modifiers
  &.wide {
    width: 100%;
    .select-dropdown {
      left: 0 !important;
      right: 0 !important;
    }
  }
  &.right {
    float: right;
    .select-dropdown {
      left: auto;
      right: 0;
    }
  }
  &.small {
    font-size: $font_size_small;
    height: $input_height_small;
    line-height: $input_height_small - 2;
    &:after {
      height: 4px;
      width: 4px;
    }
    .option {
      line-height: $input_height_small - 2;
      min-height: $input_height_small - 2;
    }
  }

  .select-dropdown{
    margin-top: 4px;
    background-color: #fff;
    border-radius: $input_border_radius;
    box-shadow: 0 0 0 1px rgba($gray_dark, .11);

    pointer-events: none;
    position: absolute;
    top: 100%; left: 0;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(- math.div(-$input-height, 2));
    z-index: 9;
    opacity: 0;
  }

  // List and options
  .select.list {
    border-radius: $input_border_radius;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    max-height: 210px;
    overflow-y: auto;

    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    cursor: pointer;
    font-weight: 400;
    line-height: $input_height + 2;
    list-style: none;
    outline: none;
    padding-left: $dropdown_padding;
    padding-right: $dropdown_padding + 11;
    text-align: left;
    transition: all 0.2s;
    &:hover, &.focus, &.selected.focus {
      background-color: $gray_lighter;
    }
    &.selected {
      font-weight: bold;
    }
    &.disabled {
      background-color: transparent;
      color: $gray;
      cursor: default;
    }
  }

  .optgroup{
    font-weight: bold;
  }

}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .select {
  .select-dropdown {
    display: none;
  }
  &.open {
    .select-dropdown {
      display: block;
    }
  }
}


.select .list::-webkit-scrollbar {
  width: 0
}




.select{
  .has-multiple {
    white-space: inherit;
    height: auto;
    padding: 7px 12px;
    min-height: 36px;
    line-height: 22px;

    span.current {
      border: 1px solid #CCC;
      background: #EEE;
      padding: 0 10px;
      border-radius: 3px;
      display: inline-block;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 3px;
      margin-right: 3px
    }

    .multiple-options {
      display: block;
      line-height: 24px;
      padding: 0
    }
  }

  .select-search-box {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    pointer-events: none;
    border-radius: 5px 5px 0 0;
  }

  .select-search {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid $gray_light;
    border-radius: 3px;
    color: $gray_dark;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0 10px 0 0;
    width: 100%;
    min-height: 36px;
    line-height: 22px;
    height: auto;
    outline: 0!important;
    font-size: $font_size;
  }
}
