.tooltip {
    background-color: $white;
    border-radius: 10px;
    box-shadow: $box-shadow;
    visibility: hidden;
    font-size: 13px;
    line-height: 20px;
    padding: 20px;
    position: fixed;
    z-index: 999;
    opacity: 0;
    transition: all .35s ease-in-out;
    &.active {
        visibility: visible;
        opacity: 1;

    }
}