/*DATA TOOLTIP*/

[data-tooltip] {
  position: relative;
  color: #000;
  text-decoration: none;
}
[data-tooltip] .fa {
  font-size: 12px;
  position: relative;
  top: -10px;
}
[data-tooltip]:hover:before, [data-tooltip]:focus:before {
  opacity: 1;
  transform: translate(-60%, -10px);
}
[data-tooltip]:hover:after, [data-tooltip]:focus:after {
  opacity: 1;
  transform: translate(-50%, -10px) rotate(45deg);
}
[data-tooltip]:before {
  position: absolute;
  z-index: 2;
  white-space: nowrap;
  content: attr(data-tooltip);
  bottom: 100%;
  left: 50%;
  padding: 0.5em 1em;
  color: white;
  font-size: 1rem;
  line-height: 1.5em;
  background-color: #343c4f;
  transition: transform 0.2s ease-out;
  opacity: 0;
  transform: translate(-60%, 0);
  pointer-events: none;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
[data-tooltip]:after {
  position: absolute;
  z-index: 3;
  display: block;
  bottom: 100%;
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #343c4f;
  margin-bottom: -4px;
  transform: translate(-50%, 0) rotate(45deg);
  transition: transform 0.2s ease-out;
  opacity: 0;
  pointer-events: none;
}
[data-tooltip].break:before {
  white-space: normal;
  width: 260px;
}
@media (max-width: 991px) {
    [data-tooltip].break:before {
      white-space: normal;
      width: 130px;
    }
}
