<div class="accordion-item-trigger" hideShowTarget>
    <h4 class="accordion-title">
        <span class="accordion-title__number">
          {{data.number}}
        </span>
        <p class="accordion-title__txt">
        Task {{data.number}}
        </p>
    </h4>
    <span class="open-btn"></span>
</div>

<form class="accordion__content-wrap" (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
  <div class="accordion__content">
      <div class="modal__section">
          <h3 class="modal__section-name headline justify-content-center">
              Name
          </h3>
          <input type="text" name="name" placeholder="Formulate a task" ngModel />
      </div>
      <div class="modal__section">
          <h3 class="modal__section-name headline justify-content-center">
              Description
          </h3>
          <textarea
              placeholder="Describe the task you are trying to complete."
              name="description"
              ngModel>
          </textarea>
      </div>
      <div class="modal__section d-flex">
        <div class="modal__half">
          <h3 class="modal__section-name headline justify-content-center">
              Task priority
          </h3>
          <ul class="priority list" getTaskPriority #taskPriority>
            <li class="priority__item">
                <button type="button" class="label label-priority label-priority--high label--nested">
                    High priority
                </button>
            </li>
            <li class="priority__item">
                <button type="button" class="label label-priority label-priority--medium label--nested">
                    Medium priority
                </button>
            </li>
            <li class="priority__item">
                <button type="button" class="label label-priority label-priority--nopriority label--nested">
                    No priority
                </button>
            </li>
            <!-- przekaż wartość taskPriority do input type hidden -->
            <input
              class="visuallyhidden"
              type="hidden"
              name="taskPriority"
              ngModel
            />
        </ul>
      </div>
      <div class="modal__half">
          <h3 class="modal__section-name headline justify-content-center">
              Task Date
          </h3>
          <input
            type="date"
            name="taskDate"
            ngModel
            >
      </div>
  </div>
  </div>
  <input class="visuallyhidden" type="submit" #submitBtn>
</form>
