.calendar-type {
  &-list {
    margin: 0;
    position: relative;
  }
  display: inline-block;
  padding: 0 15px;
  margin: 0;
  &-indicator {
    background-color: $accent;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    height: 2px;
    opacity: 1;
    transition: all 0.45s ease;
  }
  .btn {
    &.active {
      color: $accent;
    }
  }
}
