

.theme-dark {
  background-color: #252c3e;;
  &.goal-and-time-management {
    @include mobile {
      background-color: #252c3e;;
    }
  }
  .header {
    background-color: #252c3e;
  }
  .btn--blue {
    @if $accent == #269cf4 {
      $accent: #235bee;
      border: 1px solid $accent;
      background-color: $accent;
    }

  }
  .user {
    background-color: #ddd;
  }
  // Login
  .login-box {
    background-color: #252c3e;
    box-shadow: 0 0 10px #111;
  }
  // actions nav
  .actions-nav {
    background-color: #252c3e;
    .switcher {
      color: $white;
      padding: 10px;
    }
    .switcher__wrap {
      background-color: #343c4f;
      border-radius: 12px;
    }
    .switcher__item {
      color: #eff5f4;
    }
    .month-name {
      color: $white;
    }
  }
  .sidenav {
    @include desktop-sm {
      background-color: #343c4f;
    }
  }
  .sidenav-mobile-open {
    background-color: #252c3e;
  }
  .site-logo:after {
    display: none;
  }
  .dashboard {
    background-color: #252c3e;
    &__top,
    &__bottom {
      background-color: #252c3e;
    }
  }
  .goals-main {
    background-color: #252c3e;
  }
  .tasks-main {
    background-color: #252c3e;
  }
  .calendar-grid {
    background-color: #252c3e;
  }
  .footer {
    background-color: #252c3e;
  }
  .settings {
    background-color: #252c3e;
  }
  .settings-content {
    background-color: #252c3e;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2), 0 1px 15px rgba(0, 0, 0, 0.2);
  }
  p {
    color: #fbfbfd;
  }
  input,
  textarea {
    background-color: #343c4f;
  }
  .btn.highlight {
    box-shadow: 0 0 10px #fdd751;
  }
  // fonts
  .title {
    color: #cdd2e5;
  }
  .title--main {
    color: #fcd650;
  }
  .headline {
    color: #fbfbfd;
  }
  .subhead {
    color: $white;
  }
  .smaller {
    color: #cfcfcf;
  }
  .font-body {
    color: #eff5f4;
  }
  .font-additional {
    color: #afb6c8;
  }
  // labels
  .label-priority--high {
    border: 1px solid #ff8263;
    color: #ff8263;
  }
  .label-priority--medium {
    border: 1px solid #42dea2;
    color: #42dea2;
  }
  // forms
  input,
  textarea {
    color: $white;
    &::placeholder {
      color: #cfcfcf;
    }
  }
  // menu
  .menu {
    @include mobile {
      border: 1px solid #fff;
      background-color: #252c3e;
    }
  }
  .menu__link {
    color: #eff5f4;
  }
  .icon {
    background-color: #fbfbfd;
  }
  .icon--close {
    background-color: transparent;
    &:before,
    &:after {
      background-color: #fbfbfd;
    }
  }
  // floating-nav
  .floating-nav {
    background-color: #343c4f;
    &__diamond {
      background-color: #343c4f;
    }
  }
  // header-dropdown
  .header-dropdown {
    background-color: #343c4f;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    &__link {
      color: $white;
    }
  }

  // main dashboard
  .box {
    background-color: #343c4f;
  }
  // summary
  .summary__icon--goals {
    background-color: $greenStrongDark;
  }
  .summary__icon--tasks {
    background-color: $blueStrongDark;
  }
  .summary__icon--loop {
    background-color: $redStrongDark;
  }
  .summary__more {
    background-color: $white;
  }
  // balance of goals
  .balance-list__dot--family {
    background-color: $blueStrongDark;
  }
  .balance-list__dot--money {
    background-color: $purpleStrongDark;
  }
  .balance-list__dot--career {
    background-color: $greenStrongDark;
  }
  .balance-list__dot--health {
    background-color: $yellowStrongDark;
  }
  .balance-list__dot--self {
    background-color: $redStrongDark;
  }
  .balance-list__dot--inspirations {
    background-color: $pinkStrongDark;
  }

  // calendar
  .calendar-month-header-selected-month {
    color: #fbfbfd;
  }
  .calendar-month-header-selectors {
    color: #afb6c8;
  }
  .day-of-week {
    color: #afb6c8;
  }
  .calendar-day {
    color: #afb6c8;
  }
  .calendar-day--not-current {
    color: #fbfbfd;
  }
  .calendar-day--today > span {
    color: #7293fe;
  }
  .calendar-grid .calendar-day {
    background: #343c4f;
    &:hover {
      color: $white;
    }
    &--not-current {
      background-color: #252c3e;
    }
  }
  .calendar-grid__header li {
    color: #ffffff;
  }
  // progress towards the goal
  .progress-towards-the-goal-item__status--inprogress {
    color: #fcd650;
  }
  .progress-towards-the-goal-item__status--paused {
    color: #718fff;
  }
  // My activity
  .select {
    box-shadow: rgba(238, 238, 238, 0.1) 0px 1px 15px;
  }

  // Today tasks
  .btn--green {
    background-color: #42dea2;
  }
  .task-item {
    background-color: #343c4f;
    border: 1px solid rgba(255,255,255,.2);
  }
  .task-list__item--styling {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  }
  .task-item__name {
    color: #fbfbfd;
  }


  .task-item--self-knowledge {
      border-right: 8px solid $redStrongDark;
  }
  .task-item--health-and-sports {
    border-right: 8px solid $yellowStrongDark;
  }
  .task-item--career {
    border-right: 8px solid $greenStrongDark;
  }
  .task-item__additional-info p {
    color: #afb6c8;
  }
  .task-item__descr {
    color: #afb6c8;
  }
  .checkbox--green .checkbox__input:checked ~ .checkbox__checkmark {
    background-color: #42dea2;
  }
  // goal list
  .goals-grid {
    background-color: #252c3e;
  }
  .goals-grid--box .goal-item,
  .goals-grid--list .goal-item {
    background-color: #343c4f;
    border: none;
  }
  .goals-grid--box .goal-item__img {
    box-shadow: none;
  }
  .goals-grid--box .goal-item__headline {
    color: #fbfbfd;
  }
  .goals-grid--list {
    .goal-item {
      &--family-and-communication {
        border-left: 8px solid $blueStrongDark;
      }
      &--money {
        border-left: 8px solid $purpleStrongDark;
      }
      &--career {
        border-left: 8px solid $greenStrongDark;
      }
      &--health-and-sports {
        border-left: 8px solid $yellowStrongDark;
      }
      &--self-knowledge {
        border-left: 8px solid $redStrongDark;
      }
      &--travels {
        border-left: 8px solid $pinkStrongDark;
      }
    }
    .goal-item__name {
      color: $white;
    }
    .goal-item__headline {
      color: $white;
    }
    .goal-item__deadline {
      color: $white;
    }
    .goal-item__hr {
      background-color: $white;
    }
  }

  .btn--switcher {
    background-color: #343c4f;
    box-shadow: none;
  }
  .label-title--blue {
    background-color: #738ffd;
    border: 1px solid #5a7afc;
    color: #000;
  }
  .label-title--purple {
    background-color: #a871c2;
    border: 1px solid #a24fc9;
    color: #000;
  }
  .label-title--green {
    background-color: #42cc98;
    border: 1px solid #1c906b;
    color: #000;
  }
  .label-title--yellow {
    background-color: #fdd650;
    border: 1px solid #bc9725;
    color: #000;
  }
  .label-title--red {
    background-color: #f89075;
    border: 1px solid #cb5d4b;
    color: #000;
  }
  .label-title--pink {
    background-color: #fd97b3;
    border: 1px solid #ff5a87;
    color: #000;
  }
  // calendar page
  .btn--calendar {
    color: #fbfbfd;
  }
  // modal
  .modal {
    background-color: #252c3e;
    border: 1px solid #ddd;
  }
  .modal__header {
    background-color: #252c3e;
  }
  .modal__heading {
    color: #fbfbfd;
  }
  .select--modal {
    border: none;
  }
  .select.select--modal {
   background-color: #343c4f;
   border: 2px solid #f3f3f3;
   box-shadow: none;
   color: #fff;
   .select-dropdown {
    background-color: #343c4f;
    color: #fff;
   }
   .option:hover,
   .option:focus,
   .option.selected.focus {
    background-color: #1f232e;
    color: #fff;
   }
  }
  .modal__footer .btn__back {
    border: 1px solid $white;
    color: $white;
  }
  .progressBar__dot2 {
    background-color: #42cc98;
  }
  .progressBar__step.done {
    &:before {
      background-color: #42cc98;
    }
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  // Accordion
  .accordion-title {
    color: $white;
    &__number {
      color: $white;
    }
  }
  .accordion-title__txt {
    color: $white;
  }
  .accordion .open-btn {
    background-color: $white;
  }
  .modal-task-btn {
    color: $white;
  }
}
