<!-- Przed pobraniem data -> spinner -->
<aside class="html-spinner__wrap" *ngIf="this.loading$">
  <span class="html-spinner"></span>
</aside>

<ng-container *ngIf="!loading$">
  <gt-calendar-type-month>
    <ng-template let-day>
      <li class="calendar-day" [ngClass]="!day.isCurrentMonth ? 'calendar-day--not-current' : ''">
        {{ day.dayOfMonth }}
        <ul class="task-list list">
          <ng-container *ngFor="let task of objectValues(this.allTasks)">
            <!-- Jeśli dzień jest równy z currentDaysArray jest równy dniowi z databaseResult to wyświetl -->
            <ng-container *ngIf="day.date === task['taskDate']">
              <li class="task-list__item">
                <div
                class="task-item task-item--styling"
                [ngClass]="this.goalsService.getTaskClass(this.allGoals,task['goal_id'])">
                  <div class="task-item__content task-item__content--week">
                    <h4 class="task-item__name">{{ task.name }}</h4>
                  </div>
                </div>
              </li>
            </ng-container>
          </ng-container>
        </ul>
      </li>
    </ng-template>
  </gt-calendar-type-month>
</ng-container>
