<div class="goals-grid__column">
  <p class="title txt-center txt-uppercase">
      june
  </p>
  <ul class="goals-grid__list list">
    <li class="goals-grid__item">

        <!-- TU POWINNO MIEĆ ZUPEŁNIE INNY HTML DLA INNEGO TYPU WIDOKU -->

        <div class="goal-item">
            <div class="goal-item__img-wrap">
                <div class="label label-title label-title--red">
                    self-knowledge
                </div>
                <img class="goal-item__img" src="{{ imagesURL }}/self-knowledge.jpg" alt="">
            </div>
            <ul class="goal-item-misc list">
                <li class="goal-item-misc__item">
                    <i class="icon icon--sm icon--edit"></i>
                </li>
                <li class="goal-item-misc__item">
                    <i class="icon icon--sm icon--chart"></i>
                </li>
            </ul>
            <h3 class="headline txt-center">
                Prepare & pass the TOEFL exam
            </h3>
            <p class="font-body">
                TOEFL - international exam in English as a foreign language. Goal - Prepare and pass the TOEFL iBT
                exam with 80-100 points 2022 May 10.
            </p>
        </div>
        <!-- <div class="goal-item goal-item--knowledge">
            <div class="hstack justify-content-between">
              <h3 class="goal-item__name">
                Prepare & pass the TOEFL exam
              </h3>
              <button class="btn btn--no-style btn--sm btn-more-js">
                <i class="icon icon--more-vertical"></i>
              </button>
            </div>
            <p class="font-body">
                Goal - Prepare and pass the TOEFL iBT exam with 80-100 points 2022 May 10.
            </p>
            <div class="hstack align-items-center">
                <span class="goal-item__hr"></span>
                <p class="goal-item__deadline">
                DEADLINE 10/01/2021
                </p>
            </div>
        </div> -->
    </li>
  </ul>
</div>
<div class="goals-grid__column">
  <p class="title txt-center txt-uppercase">
      july
  </p>
  <ul class="goals-grid__list list">
      <li class="goals-grid__item">
        <div class="goal-item">
            <div class="goal-item__img-wrap">
                <div class="label label-title label-title--green">
                    work
                </div>
                <img alt="" class="goal-item__img" src="{{ imagesURL }}/work.jpg">
            </div>
            <ul class="goal-item-misc list">
                <li class="goal-item-misc__item"><i class="icon icon--sm icon--edit"></i></li>
                <li class="goal-item-misc__item"><i class="icon icon--sm icon--chart"></i></li>
            </ul>
            <h3 class="headline txt-center">UI / UX Design Workshop</h3>
            <p class="font-body">My goal is to change my profession to an UI designer. In the course of training on the course, form a high-quality portfolio, with further job research.</p>
            <h3 class="goal-item__headline">Subtasks</h3>
            <ul class="task-list list">
                <li class="task-item task-item--goal">
                    <label class="checkbox checkbox--green"><input class="checkbox__input" name="" type="checkbox"> <span class="checkbox__checkmark"></span></label>
                    <div class="task-item__content">
                        <h4 class="task-item__name subhead">Module 7</h4>
                        <p class="task-item__descr">Design of a banner/poster/poster from scratch to the finished result</p>
                    </div>
                </li>
                <li class="task-item task-item--goal">
                    <label class="checkbox checkbox--green"><input class="checkbox__input" name="" type="checkbox"> <span class="checkbox__checkmark"></span></label>
                    <div class="task-item__content">
                        <h4 class="task-item__name subhead">Module 8</h4>
                        <p class="task-item__descr">Design of landing pages from scratch to the final layout</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- <div class="goal-item goal-item--career">
          <div class="hstack justify-content-between">
            <h3 class="goal-item__name">UI / UX Design Workshop</h3>
            <button class="btn btn--no-style btn--sm btn-more-js">
              <i class="icon icon--more-vertical"></i>
            </button>
          </div>
            <p class="font-body">
                My goal is to change my profession to an UI designer.
            </p>
            <div class="hstack align-items-center">
                <span class="goal-item__hr"></span>
                <p class="goal-item__deadline">
                DEADLINE 10/01/2021
                </p>
            </div>
        </div> -->
      </li>
  </ul>
</div>
<div class="goals-grid__column">
  <p class="title txt-center txt-uppercase">
      august
  </p>
  <ul class="goals-grid__list list">
    <li class="goals-grid__item">
      <div class="goal-item">
        <div class="goal-item__img-wrap">
          <div class="label label-title label-title--yellow">
          health
          </div>
          <img class="goal-item__img" src="{{ imagesURL }}/sport.jpg" alt="">
        </div>
        <ul class="goal-item-misc list">
          <li class="goal-item-misc__item">
            <i class="icon icon--sm icon--edit"></i>
          </li>
          <li class="goal-item-misc__item">
            <i class="icon icon--sm icon--chart"></i>
          </li>
        </ul>
        <h3 class="headline txt-center">
          Kazan Half Marathon
        </h3>
      </div>
      <!-- <div class="goal-item goal-item--health-and-sports">
        <div class="hstack justify-content-between">
            <h3 class="goal-item__name">Kazan Half Marathon</h3>
            <button class="btn btn--no-style btn--sm btn-more-js">
              <i class="icon icon--more-vertical"></i>
            </button>
          </div>
        <p class="font-body">
            My goal is to change my profession to an UI designer.
        </p>
        <div class="hstack align-items-center">
            <span class="goal-item__hr"></span>
            <p class="goal-item__deadline">
            DEADLINE 10/01/2021
            </p>
        </div>
      </div> -->
    </li>
  </ul>
</div>
