<!-- Przed pobraniem data -> spinner -->
<!-- <aside class="html-spinner__wrap" *ngIf="this.loading$">
  <span class="html-spinner"></span>
</aside>

<ng-container *ngIf="!loading$">

</ng-container> -->

<ng-container *ngFor="let day of currentDaysArray">
  <div class="calendar-grid__column calendar-grid__column--day">
    <p class="title txt-center">
      {{ this.WEEKDAYS[day.dayOfWeek-1 !== -1 ? day.dayOfWeek-1 : 6] }} <span>{{day.dayOfMonth}} </span>
    </p>
    <ng-content></ng-content>
  </div>
</ng-container>
