<nav class="nav-bar">
  <a class="site-logo">
      <img class="site-logo__img" src="{{ imagesURL }}/get-goal-logo.png" alt="">
  </a>
  <ul class="menu list">
      <li class="menu__item">
          <a class="menu__link" routerLink="/">
              <i class="icon icon--grid"></i>
              <span>Dashboard</span>
          </a>
      </li>
      <li class="menu__item">
          <a class="menu__link" routerLink="/my-goals">
              <i class="icon icon--target"></i>
              <span>My goals</span>
          </a>
      </li>
      <li class="menu__item">
          <a class="menu__link" routerLink="/calendar">
              <i class="icon icon--calendar"></i>
              <span>Calendar</span>
          </a>
      </li>
      <li class="menu__item">
          <a class="menu__link" routerLink="/">
              <i class="icon icon--settings"></i>
              <span>Settings</span>
          </a>
      </li>
  </ul>
  <i class="icon icon--close sidenav-mobile-close" closenMobileMenu></i>



</nav>
