<section class="modal new-task">
  <header class="modal__header">
      <p class="modal__heading">Add new Task</p>
      <div class="modal__action">
          <button class="btn modal-close">
              <i class="icon icon--close" (click)="closeModal()"></i>
          </button>
      </div>
  </header>
  <main class="modal__main">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <p class="modal__heading modal__heading--center">
              Action plan
          </p>
          <p class="txt-center">
              Make a to-do list. This will clarify the path to the goal and<br>
              make it more interesting to achieve it by deleting cases.
          </p>
          <div class="modal__section">
              <h3 class="modal__section-name headline">
                  Task name
              </h3>
              <input
                type="text"
                name="name"
                placeholder="Formulate a task"
                ngModel
                required
                #name="ngModel"
              />
              <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name!.errors?.['required']" class="valid-msg valid-msg--invalid">
                  This field is required
                </div>
              </div>
          </div>
          <div class="modal__section">
              <h3 class="modal__section-name headline">
                  Task description
              </h3>
              <textarea
                placeholder="Describe the task you are trying to complete."
                name="description"
                ngModel
                required
                minlength="10"
                #description="ngModel">
              </textarea>
              <div *ngIf="description.invalid && (description.dirty || description.touched)">
                <div *ngIf="description!.errors?.['required']" class="valid-msg valid-msg--invalid">
                  This field is required
                </div>
                <div *ngIf="description!.errors?.['minlength']" class="valid-msg valid-msg--invalid">
                  This field requires at least 10 characters
                </div>
              </div>
          </div>
          <div class="modal__section d-flex">
              <div class="modal__half">
                <h3 class="modal__section-name headline">
                  Goal to which this task belongs
                </h3>
                <select class="select--modal list" name="goal_id" ngModel required #select_goal #goal_id="ngModel">
                  <option
                    *ngFor="let goal of this.allGoals"
                    value="{{goal.id}}"
                    #allTheseThings
                    >
                    {{goal.name}}
                  </option>
                </select>
                <div *ngIf="goal_id.invalid && (goal_id.dirty || goal_id.touched)">
                  <div *ngIf="goal_id!.errors?.['required']" class="valid-msg valid-msg--invalid">
                    This field is required
                  </div>
                </div>
              </div>
              <div class="modal__half">
                  <h3 class="modal__section-name headline">
                      Task Date
                  </h3>
                  <input
                    type="date"
                    name="taskDate"
                    ngModel
                    required
                    #taskDate="ngModel"
                    >
                    <div *ngIf="taskDate.invalid && (taskDate.dirty || taskDate.touched)">
                      <div *ngIf="taskDate!.errors?.['required']" class="valid-msg valid-msg--invalid">
                        This field is required
                      </div>
                    </div>
              </div>
              <div class="modal__half">
                <h3 class="modal__section-name headline">
                    A priority
                </h3>
                <ul class="priority list" getTaskPriority #priority>
                    <li class="priority__item">
                        <button type="button" class="label label-priority label-priority--high label--105width">
                            High priority
                        </button>
                    </li>
                    <li class="priority__item">
                        <button type="button" class="label label-priority label-priority--medium label--105width">
                            Medium priority
                        </button>
                    </li>
                    <li class="priority__item">
                        <button type="button" class="label label-priority label-priority--nopriority label--105width">
                            No priority
                        </button>
                    </li>
                    <!-- przekaż wartość taskPriority do input type hidden -->
                    <input
                      class="visuallyhidden"
                      type="hidden"
                      name="priority"
                    />
                </ul>
              </div>
          </div>
          <input class="visuallyhidden" type="submit" #submitBtn>
      </form>
  </main>
  <footer class="modal__footer d-flex justify-content-center">
      <button class="btn btn__next btn--blue" (click)="triggerFormSubmit(submitBtn)">
          Add
      </button>
  </footer>
</section>
