.settings {
  grid-area: main;
  @include mobile {
    padding-top: 50px;
  }
  &-content {
    border-radius: 16px;
    box-shadow: $box-shadow;
    max-width: 1200px;
    padding: 25px 50px;
    @include mobile {
      max-width: 500px;
      margin: 0 auto;
      width: 95%;
    }
    @include desktop-sm {
      margin: 0 50px;
    }
    @include desktop-xl {
      margin: 50px auto;
    }
  }
  
  &-action {
    &--top {
      .settings-action__item {
        &:nth-of-type(2) {
          @include mobile {
            margin: 0 0 5px;
          }
        }
      }
    }
    &--bottom {
      .settings-action__item {
        &:nth-of-type(1) {
          @include mobile {
            margin: 0 0 5px;
          }
        }
      }
    }
    @include mobile {
      flex-direction: column;
      justify-content: center;
    }
    &__item {
      .btn {
        @include mobile {
          margin-left: 0;
        }
      }
    }
  }
  &__heading {
    @include mobile {
      text-align: center;
    }
  }
}