.progressBar {
    align-items: center;
    display: grid;
    gap: 4px;
    margin: 20px 0;
    .headline {
      @media (max-width: 400px) {
        font-size: 12px;
        line-height: 14px;
      }
      @media (min-width: 401px) and (max-width: 500px) {
        font-size: 14px;
        line-height: 16px;
      }
      @media (min-width: 501px) and (max-width: 800px) {
        font-size: 16px;
      }
    }
    &--left {
        grid-template-columns: 100px 1fr;
    }
    &--right {
        grid-template-columns: 1fr 100px;
    }
    &__number {
        padding: 0 0 0 40px;
    }
    &__bg-line {
        background-color: #f0f5fb;
        border-radius: 10px;
        width: 80%;
        height: 8px;
    }
    &__bar {
        border-radius: 10px;
        background-color: $greenStrong;
        width: 60%;
        height: 100%;
    }
    &--steps {
        grid-auto-flow: column;
        width: 100%;
        max-width: 600px;
        margin: 20px auto 40px;
    }
    &__step {
        position: relative;
        width: 100%;
        height: 0;
        text-align: center;
        z-index: 0;
        &:before {
            background-color: #eff5fb;
            content: "";
            height: 5px;
            position: absolute;
            z-index: 1;
            width: 100%;
            left: 0;
            transition: all 0.25s ease-out;
        }
        &--timeline {
            &:before {
                    width: calc(100% - 10px);
                    left: calc(-50% + 10px);
                    top: 50%;
                }
            &:first-of-type {
                &:before {
                    left: 0;
                    width: 50%;
                }
            }
            &:last-of-type {
                &:after {
                    background-color: #ddd;
                    content: "";
                    height: 5px;
                    position: absolute;
                    right: 0;
                    width: 50%;
                }
            }
        }

        &.done {
            &:before {
                background-color: $greenStrong;
            }
            .progressBar__dot {
                border: none;
                background-color: $greenStrong;
            }
        }
        &--newgoal {
            height: auto;
            padding-bottom: 35px;
            @media (max-width: 400px) {
              min-height: 103px;
            }
            &:first-of-type {
                &:before {
                    border-bottom-left-radius: 30px;
                    border-top-left-radius: 30px;
                }
            }
            &:last-of-type {
                &:before {
                    border-bottom-right-radius: 30px;
                    border-top-right-radius: 30px;
                }
            }
            &:before {
                bottom: 0;
                height: 10px;
            }
        }
    }
    &--newgoal {
        grid-template-columns: repeat(3, 1fr);
        max-width: inherit;
    }
    &__content {
        display: flex;
        align-items: center;
        padding: 0 10px;
        @media (max-width: 600px) {
            flex-direction: column;
        }
    }
    &__dot {
        border: 1px solid #999;
        display: inline-block;
        background-color: #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        transform: translateY(-40%);
        position: relative;
        z-index: 2;
    }
    &__dot2 {
        background-color: $greenStrong;
        border-radius: 50%;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        @media (max-width: 600px) {
            margin: 0 0 10px;
        }
    }
}
