.nav-bar {
    padding: 0 30px;
    @include desktop-sm {
        width: 200px;
    }
    @include desktop-md {
        width: 250px;
    }
    @include mobile {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .site-logo {
        @include mobile {
            display: none;
        }
    }
}