<gt-actions-nav-calendar></gt-actions-nav-calendar>


<ng-container *ngIf="this.currentCalendarType === 'day'">
  <gt-calendar-type-day></gt-calendar-type-day>
</ng-container>

<ng-container *ngIf="this.currentCalendarType === 'week'">
  <gt-calendar-type-week></gt-calendar-type-week>
</ng-container>

<ng-container *ngIf="this.currentCalendarType === 'month'">
  <gt-calendar-type-month>
    <ol class="calendar-grid__header">
      <li *ngFor="let weekday of WEEKDAYS">
        {{ weekday }}
      </li>
    </ol>
    <ol class="days-grid"></ol>
  </gt-calendar-type-month>
</ng-container>
