<!-- HEADER -->
<gt-header (infoPopupEvent)="openInfoPopup()"></gt-header>

<!-- SIDENAV -->
<gt-sidenav></gt-sidenav>

<!-- MAIN -->
<!-- Tutaj w zależności czy search ma value czy nie -->

<router-outlet *ngIf="this.searchTextSubscription === ''"></router-outlet>
<gt-search *ngIf="this.searchTextSubscription !== ''"></gt-search>

<!-- FOOTER -->
<gt-footer></gt-footer>

<!-- INFO POPUP -->
<ng-template infoPopupHost></ng-template>
<!-- NEW TASK -->
<ng-template newTaskHost></ng-template>
